@using Telerik.Sitefinity.UI.MVC
@using (Html.BeginFormSitefinity("uplaoadshareholders", "uploadshareholdersform", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="sfFormDialog ">
        <fieldset class="sfNewItemForm">
            <h1>Update unclaiment dividends</h1>

            <div class="sfMessage sfDialogMessage">

            </div>

            <div class="sfForm sfFirstForm">
                <ol class="sfFormIn">
                    <li class="sfTitleField">
                        <div>
                            <label class="sfTxtLbl sfInlineBlock">List of Mehfaza/Certificate numbers</label>

                        </div>
                        <div class="sfFieldWrp">

                            <textarea name="list" class="sfTxt"></textarea>



                        </div>
                        <div class="sfFieldWrp" style="margin-top: 20px;">
                            <label class="radio-inline"><input type="radio" value="1" name="type" checked="checked">Mehfaza</label>
                            <label class="radio-inline"><input type="radio" value="2" name="type">Certificate</label>
                        </div>


</li>

</ol>

</div>


<div class="sfButtonArea sfMainFormBtns">

                <input type="submit" class="sfLinkBtn sfSave" />
            </div>
        </fieldset>
    </div>
}