/** @format */
:root {
  --color-primary: #A9C23F; /* Default color */
}
.greenColorContrast {
  --color-primary: #2e6158; /* Override the color */
  // --color-primary: #e1ff63; /* Override the color */
}
@import "./components/base";

@import "./components/header";
@import "./components/footer";

@import "./components/herobanner";
@import "./components/brand__introduction";
@import "./components/full_width__video__widget";
@import "./components/principles__block";
@import "./components/strategic__investment";
@import "./components/share__price__and__details";
@import "./components/latest__news__section";
@import "./components/timeline__and__history__block";
@import "./components/share__calculator";
@import "./components/faq";
@import "./components/download-pdf";

@import "./components/rtl";

@import "./components/overwrites";
