<div class="form-group">
    <label for="headerTxt">Header</label>
    <input type="text" id="headerTxt" ng-model="properties.Header.PropertyValue" class="form-control" />
</div>
<div class="form-group">
    <label for="textTxt">Text</label>
    <input type="text" id="textTxt" ng-model="properties.Text.PropertyValue" class="form-control" />
</div>