@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<h4>@Html.Resource("BreadcrumbIncludeOptions")</h4>

<div class="form-group">
    <label for="text">Text</label>
    <input type="text" id="text" ng-model="properties.Text.PropertyValue" class="form-control" />
</div>

<div class="form-group">
    <label for="percent">Percent</label>
    <input type="number" id="percent" ng-model="properties.Percent.PropertyValue" class="form-control" />
</div>