@model SitefinityWebApp.Mvc.Models.ProgressBarModel
<div class="progressbar js-progress-bar" data-progress="@Model.Percent"><span class="progressbar-loaded"></span><span class="progressbar-percent color-white">@Model.Percent%</span></div><h2 class="text-center color-green">@Model.Text</h2>

