/** @format */

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.woff2") format("woff2"),
    url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.woff2") format("woff2"),
    url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kaisei Opti";
  src: url("../fonts/KaiseiOpti-Bold.woff2") format("woff2"),
    url("../fonts/KaiseiOpti-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// arabic fonts
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/sansarabic/BahijTheSansArabic-Bold.woff2") format("woff2"),
    url("../fonts/sansarabic/BahijTheSansArabic-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahij TheSansArabic Plain";
  src: url("../fonts/sansarabic/BahijTheSansArabic-Plain.woff2") format("woff2"),
    url("../fonts/sansarabic/BahijTheSansArabic-Plain.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/sansarabic/BahijTheSansArabic-SemiBold.woff2")
      format("woff2"),
    url("../fonts/sansarabic/BahijTheSansArabic-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// arabic fonts end

body {
  font-family: "Poppins", sans-serif !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.page-content {
  // @media (min-width:1500px) {
  margin-top: var(--header-height);
  // }
  // @media (max-width:1500px) {
  //     // margin-top: 125px;

  // }
}
.btn.btn-default {
  padding: 10px 15px;
  width: max-content;
  svg,
  img {
    width: 12px;
    height: auto;
    margin-left: 10px;
    path {
      stroke: #fff;
      transition: 0.2s all ease-in-out;
      &:nth-child(2) {
        transform: translate(-13px, 13px);
      }
    }
  }
  &:hover {
    background-color: var(--color-primary);
    color: #fff;
    svg path {
      stroke: #fff;
      &:nth-child(2) {
        transform: translate(0, 0);
      }
      &:nth-child(1) {
        transform: translate(13px, -13px);
      }
    }
  }
}
.leadershipTabs .leadershipTabs-tabList,
.documentTabs .documentTabs-tabsList {
  justify-content: flex-start;
  padding: 6px 8px;
  background-color: #ececec;
  width: max-content;
  max-width: 100%;
  .leadershipTabs-tabListItem,
  .documentTabs-tabListItem {
    margin: 0;
    background-color: #ececec !important;

    a.leadershipTabs-tabItemLink,
    a.documentTabs-tabItemLink {
      min-width: 240px !important;
      font-size: 16px;
      min-width: unset;
      text-align: center;
      padding: 18px 28px;
      background-color: transparent;
      font-weight: 800;
      color: #5b6770 !important;
    }
    &.active {
      background-color: var(--color-primary) !important;
    }
    &.padding-bottom {
      padding-bottom: 0 !important;
    }
  }
}
