/** @format */

.download__cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
  gap: 16px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 720px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .download__card__grid__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #eaebed;
    figure {
      width: 130px;
      height: 130px;
      flex: 0 0 130px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .download__card__grid__item__overview {
      padding: 20px;
      .documentCard-description {
        margin-bottom: 5px;
      }
      h5 {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        vertical-align: middle;
        color: var(--color-gray);
        margin-bottom: 10px;
        margin-top: 0;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        vertical-align: middle;
        color: var(--color-gray);
        img {
          width: 15px;
          height: 15px;
          object-fit: contain;
          object-position: center;
          margin: 0 8px;
        }
      }
    }
  }
}
