/** @format */

.top__footer {
  width: 100%;
  padding: 40px 15px 120px;
  // background: url(../images/footerbg.png),  var(--color-primary);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  @media (max-width: 720px) {
    padding: 40px 15px 60px;
  }
  .top__footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 720px) {
      flex-flow: column;
    }
    p {
      font-size: 40px;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: -0.5px;
      color: #5b6770;
      margin: 0;
      text-align: center;
      max-width: 390px;
      margin: 0 auto 24px;
      @media (max-width: 1200px) {
        font-size: 36px;
      }
      // @media (max-width: 720px) {
      //   margin-right: 0;
      //   margin-bottom: 15px;
      // }
    }
  }
  .contact-section-details .list-unstyled.list-with-icon li {
    color: #5b6770;
    a,
    span {
      color: inherit;
    }
  }
}
.cta__primary {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  &.cta__primary--light {
    background-color: #5b6770 !important;
    color: #fff !important;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: #fff !important;
      @media (min-width: 1200px) {
        background-color: var(--color-primary) !important;
        color: #fff !important;
      }
    }
  }
  // &.cta__primary--dark {
  //   background-color: var(--color-primary);
  //   color: #fff;
  //   transition: 0.2s all ease-in-out;
  //   &:hover {
  //     color: #fff;
  //     @media (min-width: 1200px) {
  //       background-color: #21b19b;
  //       color: #fff;
  //     }
  //   }
  // }
}
.cta__link {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary) !important;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
  transition: 0.2s all ease-in-out;
  svg {
    width: 13px;
    height: auto;
    margin-left: 4px;
    path {
      transition: 0.2s all ease-in-out;
    }
  }
  &:hover {
    color: var(--color-primary) !important;
    @media (min-width: 1200px) {
      color: #255574 !important;
      svg path {
        fill: #255574;
      }
    }
  }
}
.bottom__footer {
  border-top: 1px solid #cfcfcf;
  padding: 30px 0;
  .bottom__footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
  .brand__logo {
    width: 140px;
    height: auto;
    display: block;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .social__media__links__row {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    @media (max-width: 720px) {
      margin-top: 20px;
    }
    li {
      height: max-content;
      a {
        text-decoration: none;
        svg,
        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          path {
            fill: #5b6770;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
footer {
  background-color: var(--color-primary);
  padding: 40px 0 40px;
  @media (max-width: 1500px) {
    padding: 80px 0;
  }
  .footer__inner {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1510px;
    margin: auto;
    padding: 0 15px;
    @media (max-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }
    .footer__inner__columns {
      width: 1fr;
      @media (max-width: 1200px) {
        width: calc(50% - 12px);
      }
      @media (max-width: 720px) {
        width: 100%;
      }
      &:nth-child(1) {
        width: 340px;
        @media (max-width: 1200px) {
          width: calc(50% - 12px);
        }
        @media (max-width: 720px) {
          width: 100%;
        }
      }
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    color: #5b6770;
    margin: 0;
    margin-bottom: 8px;
    a {
      color: #5b6770;
      font-weight: inherit;
      transition: 0.2s all ease-in-out;
      &:hover {
        color: #000;
        @media (min-width: 1200px) {
          // opacity: 0.6;
        }
      }
    }
    @media (max-width: 1500px) {
      font-size: 16px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 8px;
      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: #5b6770;
        transition: 0.2s all ease-in-out;
        &:hover {
          color: #000;
          @media (min-width: 1200px) {
            // opacity: 0.6;
          }
        }
        @media (max-width: 1500px) {
          font-size: 14px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    color: #5b6770;
    margin: 0;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    @media (max-width: 1500px) {
      font-size: 14px;
    }
  }
  .cta__link {
    margin-bottom: 24px;
  }
}
