/** @format */

.latest__news__section {
  padding: 60px 0 114px;
  @media (max-width: 1200px) {
    padding: 50px 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #777777;
    @media (min-width: 990px) {
      max-width: 80%;
    }
  }
  .latest__news__section__row {
    margin-top: 52px;
  }
  .primary__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 720px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .latest__news__section__actions {
    display: flex;
    align-items: center;
    @media (max-width: 720px) {
      margin-top: 20px;
    }
    .btn.btn-default {
      margin-bottom: 0 !important;
    }
    .latest__news__slider__nav {
      display: flex;
      margin-right: 20px;
      .latest__news__nav {
        padding: 0;
        background-color: transparent;
        border: 0;
        overflow: hidden;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg,
        img {
          width: 18px;
          height: 15px;
          object-fit: contain;
        }
        & + .latest__news__nav {
          margin-left: 20px;
        }
      }
    }
  }
}
.latest__news__section__row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  .latest__news__card {
    width: calc(33.33% - 16px);
    padding: 0 35px;
    @media (max-width: 1200px) {
      padding: 0 30px;
    }
    @media (max-width: 990px) {
      padding: 0 0px;
    }
    @media (max-width: 720px) {
      width: 100%;
      margin-bottom: 30px;
    }
    .latest__news__card__header {
      display: flex;
      align-items: center;
      width: calc(100% + 60px);
      margin-left: -35px;
      margin-bottom: 20px;
      @media (max-width: 1200px) {
        margin-left: -30px;
      }
      @media (max-width: 990px) {
        margin-left: 0px;
        width: 100%;
      }
      .latest__news__card__header__date {
        transition: 0.2s all ease-in-out;
        width: 75px;
        height: 75px;
        background-color: var(--color-primary);
        box-shadow: 6px 5px 18px 0px #00000036;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 24px;
        @media (max-width: 1200px) {
          width: 60px;
          height: 60px;
          flex: 0 0 60px;
        }
        &::after {
          content: "";
          width: 50px;
          height: 1px;
          background-color: var(--color-primary);
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }
        span {
          font-size: 11px;
          font-weight: 600;
          line-height: 1.7;
          text-align: center;
          color: #fff;
          width: min-content;
        }
      }
      .latest__news__card__header__category {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0.5px;
        color: rgba($color: #212121, $alpha: 0.7);
        text-transform: uppercase;
      }
    }
    p,
    a:not(.cta__link) {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: #212121;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      min-height: 72px;
      margin-bottom: 20px;
      max-width: 100%;
      @media (max-width: 990px) {
        font-size: 14px;
        min-height: 64px;
      }
      @media (max-width: 720px) {
        min-height: unset;
      }
    }
    // a{
    //     font-size: 13px;
    //     font-weight: 700;
    //     line-height: 1.7;
    //     display: flex;
    //     align-items: center;
    //     color: var(--color-primary);
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     svg{
    //         width: 13px;
    //         height: auto;
    //         margin-left: 4px;
    //     }
    // }
    &:hover {
      @media (min-width: 1200px) {
        .latest__news__card__header .latest__news__card__header__date {
          background-color: #255574;
          &::after {
            background-color: #255574;
          }
        }
        .cta__link {
          color: #255574 !important;
          svg path {
            fill: #255574 !important;
          }
          // text-decoration: underline;
        }
      }
    }
  }
}
.latest__news__slider {
  .slick-list.draggable {
    margin: 0 -7px;
  }
  .latest__news__slide__item {
    padding: 0 7px;
    .latest__news__card__item {
      padding: 32px;
      background-color: #eef3da;
      position: relative;
      overflow: hidden;
      & > * {
        position: relative;
        z-index: 5;
      }
      &::before {
        content: "";
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: var(--color-primary);
        position: absolute;
        top: 0;
        z-index: 1;
        transform: translate(-50%, -50%);
        left: 0;
        display: block;
        filter: blur(40px);
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #5b6770;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        line-clamp: 3;
      }
      .latest__news__card__item__header {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        & > span {
          font-weight: 800;
          font-size: 45px;
          line-height: 100%;
          color: #ef9600;
        }
        h6 {
          font-weight: 500;
          font-size: 15px;
          line-height: 1.45;
          padding-left: 18px;
          color: #5b6770;
          span {
            color: #ef9600;
            display: block;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 299/210;
        overflow: auto;
        object-fit: cover;
        max-height: 210px;
        margin-bottom: 20px;
      }
      .btn.btn-default {
        margin-left: 0;
        background-color: #5b6770;
        color: #fff;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        margin-bottom: 0 !important;
        svg,
        img {
          width: 12px;
          height: auto;
          margin-left: 10px;
          path {
            stroke: #fff;
            transition: 0.2s all ease-in-out;
            &:nth-child(2) {
              transform: translate(-13px, 13px);
            }
          }
        }
        &:hover {
          background-color: var(--color-primary);
          color: #fff;
          svg path {
            stroke: #fff;
            &:nth-child(2) {
              transform: translate(0, 0);
            }
            &:nth-child(1) {
              transform: translate(13px, -13px);
            }
          }
        }
      }
    }
  }
}
