/** @format */

.page-section-title,
.from-h1,
section:not(.section-carousel) h1,
section:not(.section-carousel) h2.from-h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #212121;
  font-family: "Avenir Black", sans-serif;
  margin-bottom: 18px;
  text-align: left;
  @media (max-width: 990px) {
    font-size: 24px;
    margin-bottom: 18px;
  }
  @media (max-width: 720px) {
    font-size: 20px;
  }
  &::after {
    content: none !important;
  }
}
.accessibility-menu .slider {
  background-color: #888888;
  border: none;
  outline: none !important;
  &::before {
    background-color: #fff;
  }
}
.accessibility-menu input:checked + .slider {
  background-color: #266aaa;
}
.accessibility-menu-toggle.active {
  background-image: none !important;
}
.link.link-default.js-contact-hide.float-right.body-xlarge.icon-icon-x {
  color: #212121;
}
.navigationSearch .navigationSearch-formContainer {
  background: #141414 !important;
}
.navigationSearch .navigationSearch-searchField {
  outline: none !important;
  border: 0 !important;
}
input.form-control,
textarea.form-control,
select.form-control {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 8px;
  color: #1b1d1f;
  font-size: 12px;
  &::placeholder {
    color: #727880;
    font-size: 12px;
  }
  &:focus {
    border-color: #266aaa;
  }
}
.contact-section-details .list-unstyled.list-with-icon li {
  // padding-left: 0;
  // padding-right: 0;
  color: #fff;
  a,
  span {
    color: #fff;
  }
}
body {
  color: #616161;
  font-family: "Avenir", sans-serif !important;
}
p,
.overview__slider__block .overview__slider__block__row .content__area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  b,
  strong {
    color: #212121;
  }
}
.disclaimer__popup__outer .disclaimer__popup__contentbox h4 {
  color: #212121;
}
.color-blue {
  color: #255574;
}
.h3,
h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #212121;
  font-family: "Avenir", sans-serif;
  margin-bottom: 18px;
  @media (max-width: 990px) {
    font-size: 24px;
    margin-bottom: 18px;
  }
  @media (max-width: 720px) {
    font-size: 20px;
  }
}
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h6,
.sf-Long-text a:not(.link-white),
.new__contact__card h4 {
  color: #212122;
  strong,
  b {
    color: #212122;
  }
}
.bg-green,
.btn.btn-default {
  background: #616161;
  color: #fff;
  h2 {
    color: #fff;
  }
  &:hover {
    background: #616161;
    h2 {
      color: #fff;
    }
    @media (min-width: 1200px) {
      background: #63c5b7;
      h2 {
        color: #fff;
      }
    }
  }
}
.new__contact__card .new__contact__card__header {
  background-color: #e0e0e0;
}
.carousel-slide h1:not(.color-blue) {
  font-size: 84px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  font-family: "Avenir", sans-serif;
  margin-bottom: 10px;
  @media (max-width: 1500px) {
    font-size: 60px;
  }
  @media (max-width: 990px) {
    font-size: 40px;
  }
  @media (max-width: 720px) {
    font-size: 30px;
  }
}
.fancy-select .options li {
  color: #616161;
}
.fancy-select .trigger:after,
.food-brands .foods_wrap .brand_info button {
  background-color: #616161;
}
.carousel-slide h1.color-blue {
  font-size: 84px;
  font-weight: 700;
  line-height: 1.4;
  color: #255574;
  font-family: "Avenir", sans-serif;
  margin-bottom: 10px;
  @media (max-width: 1500px) {
    font-size: 60px;
  }
  @media (max-width: 990px) {
    font-size: 40px;
  }
  @media (max-width: 720px) {
    font-size: 30px;
  }
}
.bg-grey-light.page-section,
.bg-grey-light {
  // --section-background:#E0E0E0;
}
.bg-grey-light {
  // background: #E0E0E0;
  background: #f5f5f5 !important;
}
.info-box-link {
  transition: 0.2s all ease-in-out;
  h3,
  .h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    font-family: "Avenir", sans-serif;
    margin: 0;
  }
}
.info-box-link:hover .info-box-title {
  color: #fff;
}
.fancy-select .options {
  width: max-content;
}
.leadershipTabs .leadershipTabs-tabList .leadershipTabs-tabListItem {
  background-color: #616161;
  font-family: "Avenir", sans-serif;
  .leadershipTabs-tabItemLink {
    min-width: 340px;
    @media (max-width: 580px) {
      min-width: 100%;
    }
  }
  a {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-family: "Avenir", sans-serif;
  }
}
.leadershipTabs .leadershipTabs-tabList .leadershipTabs-tabListItem.active,
.leadershipTabs .leadershipTabs-tabList .leadershipTabs-tabListItem:hover,
.leadershipTabs .leadershipTabs-tabList .leadershipTabs-tabListItem:active,
.leadershipTabs .leadershipTabs-tabList .leadershipTabs-tabListItem:focus {
  background-color: #63c5b7;
}
.leadershipCard {
  padding: 0;
  border: 1px solid #b0b0b0;
  &::before {
    content: none;
  }
  .leadershipCard-body {
    box-shadow: none;
  }
  .leadershipCard-description {
    color: #616161;
  }
}
.leadershipCard .leadershipCard-title {
  font-weight: 600;
}
.documentCard .documentCard-cta {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  background-color: #616161;
  color: #fff;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: #fff;
    background-color: #616161;
    @media (min-width: 1200px) {
      background-color: #63c5b7;
      color: #fff;
    }
  }
}
a.link-green:hover,
a.link-green:active {
  color: #255574;
}
.documentCard .documentCard-cta:hover {
  background-color: #63c5b7;
}
.shareholderCard:before {
  content: none !important;
}
.page-section.bg-grey-light:nth-child(even) {
  // background: transparent !important;
}
.frequentlty__asked__questions__row .faq__wrap h4,
.quick__navigation__links__wrap .quick__navigation__link.active span {
  font-weight: 600;
}

// .hero__banner__homepage-- + .page-section ,
.page__title + .page-section:not(.bg-grey-light) {
  padding-top: 0;
}
.disclaimer__popup__outer .disclaimer__popup__contentbox p {
  font-size: 14px;
}
.disclaimer__popup__outer .disclaimer__popup__contentbox button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  background-color: #616161;
  color: #fff;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: #fff;
    background-color: #616161;
    @media (min-width: 1200px) {
      background-color: #63c5b7;
      color: #fff;
    }
  }
}
.fancy-select .options li:hover {
  background-color: #255574;
}
.search-process.padding-xl-bottom .btn.btn-default {
  margin: 0 10px;
}
.quick__navigation__links__wrap .quick__navigation__link {
  background-color: #616161;
  span {
    color: #fff;
  }
  .quick__navigation__link__icon {
    background-color: #fff;
    img {
      filter: invert(1);
    }
  }
  &:hover {
    background-color: #616161;
    @media (min-width: 1200px) {
      background-color: #63c5b7;
      .quick__navigation__link__icon {
        background-color: #fff;
        img {
          filter: invert(1);
        }
      }
    }
  }
  &.active {
    background-color: #63c5b7;
    .quick__navigation__link__icon {
      background-color: #fff;
      img {
        filter: invert(1);
      }
    }
  }
}
input.form-control {
  border: 1px solid #eeeeee;
  font-size: 12px;
  color: #727880;
  padding: 8px;
  font-weight: 400;
  outline: none !important;
  &::placeholder {
    font-size: 12px;
    color: #727880;
    font-weight: 400;
  }
  &:focus {
    border-color: #266aaa;
  }
}
.radio-buttons ul li input[type="radio"].radio + label {
  position: relative;
}
.radio-buttons ul li input[type="radio"].radio + label:before {
  content: "";
  background: none;
  border: 1px solid #888888;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.radio-buttons ul li input[type="radio"].radio:checked + label::before {
  border-color: #266aaa;
}
.radio-buttons ul li input[type="radio"].radio:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 18px;
  width: 6px;
  height: 6px;
  background-color: #266aaa;
  display: block;
  // transform: translate(-50%,-50%);
  // background: none;
  border: 1px solid #888888;
  border-radius: 50%;
}
.btn-secondary-rev {
  background-color: #616161;
  &:hover {
    background-color: #616161;
    @media (min-width: 1200px) {
      background-color: #63c5b7;
    }
  }
}
.active,
.nav-tabs li.active {
  .btn-secondary-rev {
    background-color: #63c5b7;
  }
}
.fancy-select .options {
  min-width: 100%;
}
@media (max-width: 990px) {
  [style="display:flex;align-items:center;justify-content:center;"] {
    flex-flow: column;
  }
  [style="display:flex;align-items:center;justify-content:center;"]
    .logo_icon
    + .logo_icon {
    margin-top: 40px !important;
  }
}
.p-0 {
  padding: 0 !important;
}
.leadershipCard .leadershipCard-content {
  padding-left: 15px;
  padding-right: 15px;
}
.contact-section-details .result-msg {
  color: #212121;
}
.documentsGrid .documentsGrid-item {
  @media (max-width: 720px) {
    margin: 15px 0;
  }
}
.overview__slider__block .documentsGrid,
.documentsGrid {
  @media (max-width: 720px) {
    margin: 0;
  }
}
.leadershipCard {
  @media (max-width: 720px) {
    width: 100%;
  }
}
.overview__slider__block .documentCard .documentCard-cta {
  @media (max-width: 720px) {
    padding: 12px 30px;
  }
}
.radio-buttons ul li input[type="radio"].radio:checked + label::before {
  background-color: #266aaa;
  outline: 1px solid #266aaa;
  outline-offset: 2px;
}
.radio-buttons ul li input[type="radio"].radio + label::after,
.radio-buttons ul li input[type="radio"].radio:checked + label::after {
  content: none !important;
}
.mt-50 {
  margin-top: 50px;
  @media (max-width: 720px) {
    margin-top: 30px;
  }
}
.quick__navigation__links__wrap .quick__navigation__link {
  padding: 7px 20px;
  @media (max-width: 1300px) {
    padding: 7px 15px;
  }
  span {
    font-size: 16px;
    width: max-content;
    display: block;
    @media (max-width: 1300px) {
      font-size: 14px;
    }
  }
  .quick__navigation__link__icon {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    padding: 10px;
  }
}
.quick__navigation__links__wrap {
  @media (max-width: 1200px) {
    padding: 40px 0;
    width: 100%;
    overflow-x: auto;
  }
}
.cta__primary , .btn {
  font-family: "Avenir";
  font-weight: 600;
}
// arabic styles
[dir="rtl"] {
  .page-section-title,
  .from-h1 {
    text-align: right;
  }
}
// arabic styles end
