/** @format */

.principles__block {
  padding: 110px 0 80px;
  @media (max-width: 1200px) {
    padding: 50px 0;
  }
  .decorated__title,
  .primary__title {
    text-align: center !important;
    width: 100%;
  }
  .principles__row {
    margin-top: 50px;
    @media (max-width: 990px) {
      margin-top: 30px;
    }
  }
}
.principles__row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  .principles__card {
    // border: 1px solid #b0b0b0;
    padding: 24px;
    // padding-top: 77px;
    width: calc(33.33% - 16px);
    transition: 0.3s all ease-in-out;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #eef3da 0%, #eef3da 100%),
      linear-gradient(323.93deg, rgba(238, 243, 218, 0) 71.22%, #a9c23f 99.94%);

    &::before {
      content: "";
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: var(--color-primary);
      position: absolute;
      top: 0;
      z-index: 1;
      transform: translate(-50%, -50%);
      left: 0;
      display: block;
      filter: blur(40px);
    }
    & > * {
      position: relative;
      z-index: 10;
    }
    @media (max-width: 1200px) {
      //   padding-top: 24px;
    }
    @media (max-width: 990px) {
      width: calc(50% - 12px);
    }
    @media (max-width: 720px) {
      width: 100%;
    }
    img {
      // width: calc(100% + 48px);
      width: 100%;
      height: auto;
      aspect-ratio: 1/0.6;
      // margin-left: -24px;
      // margin-top: -24px;
      // margin-bottom: 24px;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.4;
      color: #5b6770;
      margin-bottom: 12px;
      transition: 0.3s all ease-in-out;
      font-family: "Avenir Black";
      position: relative;
      z-index: 3;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      color: #333333;
      transition: 0.3s all ease-in-out;

      position: relative;
      overflow: hidden;

      .read-more {
        cursor: pointer;
        font-weight: 600;
        white-space: nowrap;
      }
      &.is-clamped {
        // -webkit-line-clamp: 6;
        max-height: calc(1.6em * 6);
      }
    }
    // &:hover {
    //   @media (min-width: 1200px) {
    //     background-color: var(--color-primary);
    //     // padding-top: 36px;
    //     h4,
    //     p {
    //       color: #fff;
    //       // transform: translateY(-40px);
    //     }
    //   }
    // }
  }
}
