[dir="rtl"]{
    header .header__top .header__top__inner .header__analytics__wrap .header__analytics__wrap__value{
        margin-left: 0;
        margin-right: 12px;
    }
    header .header__top .header__top__inner .header__analytics__wrap .header__analytics__wrap__value span{
        margin-left: 0;
        margin-right: 8px;
    }
    header .header__top .header__top__inner .header__top__inner__right .header__quick__links li:not(:last-child){
        border-right: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    header .language__btn{
        margin-left: 24px;
        margin-right: 0;
    }
    header .accessibility__menu__toggle{
        margin-left: 12px;
        margin-right: 0;
        @media (max-width:720px) {
            margin-left: 40px;
        }
    }
    header .header__bottom .header__bottom__inner nav ul:not(.hamburger__menu__toggle):not(.sub__menu) li.has__sub__menu a::after{
        margin-right: 12px;
        margin-left: 0;
    }
    header .brand__logo{
        margin-left: 44px;
        margin-right: 0;
    }
    header .header__search.header__search--active input{
        padding-right: 7px;
        padding-left: 0;
    }
    .brand__introduction .brand__introduction__footer img{
        margin-left: 23px;
        margin-right: 0;
    }
    .decorated__title::after{
        right: calc(100% + 14px);
        left: auto;
    }
    .strategic__investment__row .strategic__investment__card a{
        right: 24px;
        left: auto;
    }
    .latest__news__section__row .latest__news__card .latest__news__card__header .latest__news__card__header__date{
        margin-left: 24px;
        margin-right: 0;
    }
    .latest__news__section__row .latest__news__card .latest__news__card__header .latest__news__card__header__date::after{
        left: auto;
        right: 50%;
    }
    .cta__link{ 
        svg{
            transform: scaleX(-1);
            margin-right: 4px;
            margin-left: 0;
        }
        &:hover{
            @media (min-width:1200px) {
                svg{
                margin-right: 9px;
                }
                
            }
        }
    }
    .top__footer .top__footer__inner p{
        margin-left: 24px;
        margin-right: 0;
    }
    footer .social__media__links__row li:not(:last-child){
        margin-left: 30px;
        margin-right: 0;
    }
    .latest__news__section__row .latest__news__card .latest__news__card__header{
        margin-right: -35px;
        margin-left: 0;
        @media (max-width:1200px) {
            margin-right: -30px;
        }
        @media (max-width:990px) {
            margin-right: 0px;
        }
    }
    header .header__bottom .header__bottom__inner nav ul:not(.hamburger__menu__toggle):not(.sub__menu) li.has__sub__menu::after{
        left: 30px;
        right: auto;
        @media (max-width:720px) {
            left: 0;
        }
    }
    header .header__search{
        left: 15px;
        right: auto;
    }
}