/** @format */

.strategic__investment {
  padding: 80px 0 130px;
  @media (max-width: 1200px) {
    padding: 50px 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #777777;
    max-width: 595px;
    margin: 0 auto 20px;
    text-align: center;
    @media (min-width: 990px) {
      // max-width: 80%;
    }
  }
  .decorated__title {
    text-align: center !important;
    width: 100%;
  }
  .primary__title {
    text-align: center !important;
    max-width: 595px;
    margin: 0 auto 20px;
  }
  .strategic__investment__row {
    margin-top: 50px;
    @media (max-width: 990px) {
      margin-top: 30px;
    }
  }
}
.strategic__investment__row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  .strategic__investment__card {
    border: 1px solid #b0b0b0;
    padding: 28px 24px 70px;
    transition: background 0.3s ease;
    width: calc(33.33% - 16px);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0; /* cover full card */
      background: radial-gradient(
          100% 100% at 0% 0%,
          rgba(239, 150, 0, 0.6) 0%,
          rgba(239, 150, 0, 0.16) 50%,
          rgba(239, 209, 159, 0.1) 75.42%,
          rgba(239, 209, 159, 0.09) 100%
        ),
        linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 0; /* below content */
    }
    @media (max-width: 990px) {
      width: calc(50% - 12px);
    }
    @media (max-width: 720px) {
      width: 100%;
    }
    & > div {
      height: 100%;
      position: relative;
      z-index: 10;
      & > div {
        height: 100%;
        position: static;
      }
    }
    & > * {
      position: relative; /* make content above pseudo-element */
      z-index: 1;
    }
    img {
      width: 45px;
      margin-bottom: 12px;
      transition: 0.3s all ease-in-out;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-gray);
      margin: 0;
      margin-bottom: 12px;
      transition: 0.3s all ease-in-out;
      font-family: "Avenir Black";
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 24px;
      transition: 0.3s all ease-in-out;
      max-width: 100%;
    }
    a,
    button {
      transition: 0.3s all ease-in-out;
      background-color: transparent;
      border: 0;
      padding: 0;
      position: absolute;
      left: 0px;
      bottom: -38px;
      // font-size: 16px;
      // font-weight: 700;
      // line-height: 1.5;
      // text-decoration: underline;
      // text-transform: uppercase;
      // color: var(--color-primary) !important;
      // position: absolute;
      // left: 24px;
      // bottom: 28px;
      svg {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }
    }
    &:hover {
      @media (min-width: 1200px) {
        &::before {
          opacity: 1;
        }

        // background-color: var(--color-primary);

        // h4,
        // p {
        //   color: #fff;
        // }
        // img {
        //   filter: brightness(0) invert(1);
        // }
        // a {
        //   color: var(--color-gray) !important;
        // }
      }
    }
  }
}
