@model SitefinityWebApp.Mvc.Models.ColoredContentBlockModel
<div data-mh="didnt-know" class="didnt-know body-small color-white @Model.Color padding-s-top padding-s-right padding-s-bottom padding-s-left text-center">
   @Html.Raw(Model.Text)
</div>